<div class="dialogContainer">
  <div class="modalHeader">
    <div class="avatarDetails">
      <div class="modalTitle">{{ dialogTitle }}</div>
    </div>
    <button mat-icon-button (click)="dialogRef.close()" class="modal-close-button" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div mat-dialog-content>
    <form class="form-field-full" [formGroup]="roomRatesForm">
      <div class="row m-b-24">
        <div class="col-sm-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Room Name</mat-label>
            <input matInput formControlName="roomName" required>
            <mat-error *ngIf="roomRatesForm.get('roomName')?.hasError('required')">Room Name is required</mat-error>
          </mat-form-field>
        </div>

        <div class="col-sm-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Week Rate</mat-label>
            <input matInput formControlName="weekRate" required>
            <mat-error *ngIf="roomRatesForm.get('weekRate')?.hasError('required')">Week Rate is required</mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row m-b-24">
        <div class="col-sm-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Normal Rate</mat-label>
            <input matInput type="number" formControlName="weekendRate" required>
            <mat-error *ngIf="roomRatesForm.get('weekendRate')?.hasError('required')">Weekend Rate is required</mat-error>
          </mat-form-field>
        </div>

        <div class="col-sm-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Discounted Rate</mat-label>
            <input matInput type="number" formControlName="discountedRate">
          </mat-form-field>
        </div>
      </div>

      <div class="row m-b-24">
        <div class="col-sm-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Bed Type</mat-label>
            <mat-select formControlName="bedType" required>
              <mat-option value="1 Queen Bed">1 Queen Bed</mat-option>
              <mat-option value="1 King Bed">1 King Bed</mat-option>
              <mat-option value="2 Single Beds">2 Single Beds</mat-option>
            </mat-select>
            <mat-error *ngIf="roomRatesForm.get('bedType')?.hasError('required')">Bed Type is required</mat-error>
          </mat-form-field>
        </div>

        <div class="col-sm-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Total Rooms</mat-label>
            <input matInput type="number" formControlName="totalRooms" readonly>
            <mat-error *ngIf="roomRatesForm.get('totalRooms')?.hasError('required')">Total Rooms is required</mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row m-b-24">
        <div class="col-sm-12 text-right">
          <button mat-raised-button color="primary" [disabled]="!roomRatesForm.valid" (click)="submit()">Save</button>
          <button mat-raised-button color="warn" (click)="onNoClick()" type="button">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>
